<h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%=image_tag user.get_profile_image(40,40) %></td>
          <td>
              <%=user.name %>
          </td>
          <td>
            <%= link_to user_path(user.id) do %>
            Show
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

